* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 150%;
  color: white;
}

.text-preset-1 {
  font-size: 1.5rem;
  letter-spacing: 0;
}

.text-bolder {
  font-weight: bolder;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main .profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: hsl(0, 0%, 12%);
  padding: 40px;
  max-width: 384px;
  border-radius: 12px;
}
main .profile__container img {
  width: 88px;
  border-radius: 50%;
}
main .profile__container .profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
main .profile__container .profile__info .profile__location {
    color: hsl(75, 94%, 57%);
}
main .profile__container .profile__social-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    width: 100%;
}
main .profile__container .profile__social-links .profile__social-link{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    padding: 12px;
    width: 100%;
    border-radius:8px;
    transition: all 0.3s ease;
}
main .profile__container .profile__social-links .profile__social-link:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}
